/* */
/* Universal CSS */

.container-fluid {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-12 {
    padding: 0;
}

.gameBoard {
    background-image: url("../../assets/images/starfield.png");
    background-size: 100%;
    background-repeat: repeat;
    color: whitesmoke;
}

.buryIt {
    display: none !important;
}

/* Navbar CSS */

.navbar {
    padding: 0rem 1.5rem;
}

.navDiv {
    justify-content: flex-end !important;
    align-content: center !important;
}

/* Rows, Columns and Header CSS */

.gameHeader {
    text-align: center;
    font-size: 5vw;
    font-family: 'Coda', cursive;
    margin-top: 1%;
    padding: 1%;
    background-color: black;
    color: #e6d01b;
    border: solid 1px #e6d01b;
    box-shadow: 
        0 0 0 2px black,
        0 0 0 3px #e6d01b,
        0 0 0 8px black;
}

.attack-column {
    width:100%;
}

.challengers {
    text-align: center;
    font-size: 3vw;
}

.characterColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.waitingChallengers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: text-top;
    max-height: 900px;
}

.combatant-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*Main Menu CSS */

#menu-zone {
    float: left;
}

.swGameMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #202020;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    border: solid 1px #e6d01b;
    box-shadow: 
        0 0 0 2px #202020,
        0 0 0 3px #e6d01b,
        0 0 0 8px #202020;
    z-index: 3;
}

.mainMenu {
    max-height: 75%;
}

.lossMenu {
    max-height: 40%;
}

.winMenu {
    max-height: 40%;
}

.menuAdjust {
    position: absolute !important;
    top:0;
}

.menuHeader {
    padding: 1%;
    font-family: 'Coda', cursive;
    font-size: 3.2vw;
    display: flex;
    text-align: center;
    color:  #e6d01b;
}

.instructions-header {
    text-align: center;
    color: whitesmoke;
}

.instructions-text {
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 1%;
    color: whitesmoke;
}

.attack-button {

    font-family: 'Coda', cursive;
    background-color: #202020;
    border: solid 1px #e6d01b;
    box-shadow: 
        0 0 0 2px #202020,
        0 0 0 3px #e6d01b,
        0 0 0 8px transparent;
    color: #e6d01b;
}

.clash-text {
    display: flex;
    text-align: center;
    vertical-align: middle 
}

.command-text {
    text-align: center;
    width: 100%;
    font-size: 2.9vw;
    background-color: rgb(24, 24, 24); 
    padding: .5% 1.5% 1%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.start-button {
    display: block;
    font-size: 2.5vw;
    font-family: 'Coda', cursive;
    background-color: #202020;
    color: #e6d01b;
    border: solid 1px #e6d01b;
    box-shadow: 
        0 0 0 2px #202020,
        0 0 0 3px #e6d01b,
        0 0 0 8px transparent;
    margin: auto;
}

.start-button:after {
    content: "Start Game";
}

.loss-playAgainButton {
    display: block;
    font-size: 2vw;
    margin: auto;
}

.loss-playAgainButton:after {
    content: "Play Again";
}

.win-playAgainButton {
    display: block;
    font-size: 2vw;
    margin: auto;
}

.win-playAgainButton:after {
    content: "Play Again";
}

#my-power {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: middle;
}

#my-hp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

#opponent-power {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

#opponent-hp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

/* Card formatting */

.card {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.characterCard {
    display: inline-flex;
    background:rgb(24, 24, 24);
    max-width: 30%;
}

.opponentCard {
    display: inline-flex;
    padding: .5%;
    max-width: 48%;
    color: transparent !important;
    background-color: transparent;
}

.playerCard {
    display: flex;
    max-width: 100%;
    color: transparent !important;
}

.currentCombatant {
    display: flex;
    max-width: 100%;
    color: transparent !important;
}

.defeatedOpponent {
    display: inline-flex;
    max-width: 48%;
    color: transparent !important;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.card-img-overlay {
    padding: 0;
    background: transparent;
}

.card-title {
    justify-content: center;
    flex-wrap: nowrap;
    background: rgb(24, 24, 24);
    width: 100%;
    padding: 1.5%;
    margin-top: 45%;
    margin-bottom: 1%;
    text-align: center;
}

.inner-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-text {
    display: inline-flex;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

.inner-value {
    display: inline-flex;
    padding: 1%;
    padding-right: 3% !important;
    background: rgb(24, 24, 24) !important;
    border: 1px solid whitesmoke !important;
    border-left: 0px !important;
    border-radius: 0px 10px 10px 0px !important;
    color:  #e6d01b;
}

/* Statistics CSS */

.myHP {
    text-align: center;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 3vw;
}

.HP {
    text-align: center;
    margin-top: 3%;
    color:  #e6d01b;
}

.myPower {
    text-align: center;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 3vw;
}

.power {
    text-align: center;
    margin-top: 3%;
    color:  #e6d01b;
}

.opponentHP {
    text-align: center;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 3vw;
}

.oHP {
    text-align: center;
    margin-top: 3%;
    color:  #e6d01b;
}

.opponentPower {
    text-align: center;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 2.5vw;
}

.opower {
    text-align: center;
    margin-top: 3%;
    color:  #e6d01b;
}

.myMultiplier {
    text-align: center;
    padding: 1%;
    background: rgb(24, 24, 24);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 2.5vw;
}

.multiplier {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color:  #e6d01b;
}


.wins {
    padding: 2%;
    text-align: center;
}

.statVals {
    display: inline-block;
    padding: 0 3%;
}

@media screen and (max-width: 1476) {
    
.instructions-text {
    font-size: 1.3vw;
}

}

@media screen and (max-width: 1160px) {

.instructions-text {
    font-size: 1.3vw;
    margin-bottom: 1%;
}

}

@media screen and (max-width: 980px) {

.mainMenu {
    max-height: 70%;
}
    
    .lossMenu {
        max-height: 40%;
    }
    
    .winMenu {
        max-height: 40%;
    }

}

@media screen and (max-width: 890px) {

.mainMenu {
    max-height: 70%;
}

}

@media screen and (max-width: 800px) {

.mainMenu {
    max-height: 70%;
}

.instructions-text {
    font-size: 1.6vw;
    margin-bottom: 1%;
}

}

@media screen and (max-width: 750px) {

.characterCard {
    display: inline-flex;
    max-width: 48%;
}

.menuHeader {
    font-size: 3.4vw;
}

.instructions-header {
    font-size: 3.5vw;
}

.instructions-text {
    font-size: 1.7vw;
}

}

@media screen and (max-width: 680px) {

.instructions-text {
    font-size: 1.9vw;
}

}

@media screen and (max-width: 630px) {

.instructions-text {
    font-size: 2vw;
}
    
}

@media screen and (max-width: 615px) {

.menuHeader {
    font-size: 3.3vw;
}

.instructions-text {
    font-size: 2.1vw;
}
    
}

@media screen and (max-width: 575px) {

.menuHeader {
    font-size: 4.5vw;
    text-align: center;
}

.mainMenu {
    justify-content: flex-start;
    top: 48px;
    bottom: 0;
    max-height: 100%;
}

.lossMenu {
    top: 48px;
    max-height: 100%;
}

.winMenu {
    top: 48px;
    max-height: 100%;
}

.instructions-text {
    font-size: 2.8vw;
    margin: 2%;
}

.start-button {
    font-size: 3.5vw;
    margin:  3% auto;
}

.start-button:after {
    content: "Start Game";
}

.loss-playAgainButton {
    font-size: 6vw;
    margin:  3% auto;
}

.win-playAgainButton {
    font-size: 6vw;
    margin:  3% auto;
}

.card-title {
    padding: 0% 1.5% .5%;
    margin-top: 45%;
    margin-bottom: 0;
}

.card-text {
    padding: 0 2% 0;
    font-size: 3vw;
}

.opponentCard {
    padding: .5%;
    max-width: 22%;
}
    
}

@media screen and (max-width: 570px) { 

.start-button {
    font-size: 4vw;

}
}

@media screen and (max-width: 330px) {

.navbar {
    padding: 0rem 1rem;
}

.nav-link {
    font-size: 4.5vw;
}

}